@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  src: local('Sarala'), local('Sarala-Regular'), url(https://fonts.gstatic.com/s/sarala/v4/uK_y4riEZv4o1w9hAxcSAv4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
}

/*HEADER*/

.start{
    background-image: url("marten-bjork-6dW3xyQvcYE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
    color: black;
    text-align: center;
}

#logo{
    height: 90px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.start h1{
  padding-top: 100px;
  font-size: 50px;
    text-transform: uppercase;
}

.start button {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

/*MAIN*/

.canvas {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%
}

/*TÁBLÁZAT (ADATMEGADÁS)*/

#adatmegadas{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
   
}

#merleg{
    margin-right: 50px;
}

#merleg h6, #eredmenykimutatas h6{
    text-align: center;
    margin-bottom: 15px;
}

#eredmenykimutatas{
    padding-left: 100px;
}

/*FOOTER*/

footer{
    display: block;
    height: auto;
    background-image: url("12aa.jpg");
    width: 100%;
}

footer p{
  font-size: 20px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: F5F5F5;
 }
/* itt tudjátok, minden 2. sor színét változtatni*/
